#!/bin/bash
# The script downloads current installation ISO image, adds preseed configuration
# and packs it as a new ISO image. Optionally, a Vagrant box may be created using packer.io.
#
# 2017 Tomas Kadlec <tomas@tomaskadlec.net>

DIST="{{preseed.suite}}"
INSTALLER="{{preseed.installer|default(preseed.suite, True)}}"
URL="http://ftp.cz.debian.org/debian/dists/$INSTALLER/main/installer-amd64/current/images/netboot/mini.iso"

SCRIPT=$(readlink -f "$0")
SCRIPT_DIR=$(dirname "$SCRIPT")
BUILD_DIR="$SCRIPT_DIR"

cd "$BUILD_DIR"

# create build directory
mkdir -p "$BUILD_DIR/iso"

# download iso
[ ! -f "image.iso" ] && wget -O "image.iso" "$URL"

# unpack ISO
7z -o"iso/" x "image.iso"

# alter boot menu
cat << --MENU-- > "iso/isolinux.cfg"
path
menu hshift 7
menu width 61
menu title {{preseed.suite}} installer boot menu
include stdmenu.cfg
default vesamenu.c32
prompt 0
timeout 30

label install
    menu label Install
    menu default
    kernel linux
    append vga=788 initrd=initrd.gz quiet locale=en_US.UTF-8 keymap=us auto --- auto install {{preseed.preseed_args|default([])|join(' ')}}
--MENU--

# initrd.gz
(
    # unpack initrd.gz
    mkdir iso/initrd
    cd iso/initrd 
    gzip -d < ../initrd.gz |
        cpio --extract --make-directories --no-absolute-filenames
    # copy preseed.cfg
    cp "$BUILD_DIR/preseed.cfg" "preseed.cfg"
    # pack initrd.gz
    find . | cpio -H newc --create | gzip -9 > ../initrd.gz
    cd -
    rm -rf iso/initrd
)

# create new iso
genisoimage -o "image+preseed.iso" -b isolinux.bin -c boot.cat -no-emul-boot -boot-load-size 4 -boot-info-table "iso"
rm -rf "iso"

{% if preseed.packer is defined and preseed.packer %}
# run packer
packer build -force -on-error=abort packer.json 2>&1 | tee "packer.log"
{% endif %}
