{
  "builders":
  [
    {
      "type": "virtualbox-iso",
      "iso_url": "image+preseed.iso",
      "iso_checksum": "",
      "iso_checksum_type": "none",
      "output_directory": "output",
      "shutdown_command": "sudo shutdown -P now",
      "headless": {{preseed.headless|default('true', True)}},
      "disk_size": 10240,
      "guest_os_type": "Debian_64",
      "hard_drive_interface": "sata",
      "vm_name": "{{inventory_hostname}}",
      "ssh_host_port_min": 2222,
      "ssh_host_port_max": 2229,
      "ssh_username": "{{preseed.user}}",
      "ssh_password": "{{preseed.user}}",
      "ssh_port": 22,
      "ssh_wait_timeout": "3600s",
      "boot_wait": "15s",
      "boot_command":
      [
        "<wait><enter>"
      ],
      "guest_additions_mode": "attach",
      {% raw %}
      "vboxmanage": [
        ["modifyvm", "{{.Name}}", "--memory", "2048"],
        ["modifyvm", "{{.Name}}", "--usb", "off"],
        ["modifyvm", "{{.Name}}", "--audio", "none"],
        ["modifyvm", "{{.Name}}", "--nic1", "nat"]
      ]
      {% endraw %}
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "script": "docker.sh",
      {% raw %}"execute_command": "sudo env {{ .Vars }} {{ .Path }}",{% endraw %}
      "only": ["virtualbox-iso"]
    },
    {
      "type": "shell",
      "script": "user.sh",
      {% raw %}"execute_command": "sudo env {{ .Vars }} {{ .Path }}",{% endraw %}
      "only": ["virtualbox-iso"]
    },
    {
      "type": "shell",
      "script": "virtualbox.sh",
      {% raw %}"execute_command": "sudo env {{ .Vars }} {{ .Path }}",{% endraw %}
      "only": ["virtualbox-iso"]
    }
  ],
  "post-processors": [[
      {
        "type": "vagrant",
        "output": "{{inventory_hostname}}.box",
        "keep_input_artifact": false,
        "vagrantfile_template": "Vagrantfile"
      }
      {% if preseed.box is defined and preseed.box and preseed.access_token is defined and preseed.access_token %}
      ,
      {
        "type": "vagrant-cloud",
        "box_tag": "{{preseed.box}}",
        "access_token": "{{preseed.access_token}}",
        "version": "{{preseed.version}}"
      }
      {% endif %}
  ]]
}
