### Debian preseed file
d-i debconf/priority string high

### Localization
# Preseeding only locale sets language, country and locale.
d-i debian-installer/language string en
d-i debian-installer/country string US
d-i debian-installer/locale string en_US.UTF-8

# The values can also be preseeded individually for greater flexibility.
d-i debian-installer/language string en

# Keyboard selection.
d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto

d-i netcfg/get_hostname string {{inventory_hostname}}
d-i netcfg/hostname string {{inventory_hostname}}
d-i netcfg/get_domain string {{preseed.domain|default('local')}}
d-i netcfg/domain string {{preseed.domain|default('local')}}

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.cz.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Suite to install.
d-i mirror/suite string {{preseed.suite}}

### Account setup
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password "!"

d-i passwd/make-user boolean true
d-i passwd/user-fullname string {{preseed.user}}
d-i passwd/username string {{preseed.user}}
d-i passwd/user-password password {{preseed.user}}
d-i passwd/user-password-again password {{preseed.user}}

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Prague
d-i clock-setup/ntp boolean true
d-i clock-setup/ntp-server string tik.cesnet.cz

### Partitioning
d-i partman-auto/disk string {{preseed.disk.device|default('/dev/sda')}}
d-i partman-basicfilesystems/choose_label string gpt
d-i partman-basicfilesystems/default_label string gpt
d-i partman-partitioning/choose_label string gpt
d-i partman-partitioning/default_label string gpt
d-i partman/choose_label string gpt
d-i partman/default_label string gpt
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman/mount_style select traditional
d-i partman-basicfilesystems/no_mount_point boolean false
d-i partman-basicfilesystems/no_swap boolean false
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-partitioning/confirm_write_new_label boolean true

### Package selection
tasksel tasksel/first multiselect none
pkgsel pkgsel/update-policy	select unattended-upgrades

# Individual additional packages to install
d-i pkgsel/include string openssh-server python-apt aptitude apt-transport-https ca-certificates curl rsyslog software-properties-common sudo unzip vim zip
d-i popularity-contest popularity-contest/participate boolean false
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean false
d-i grub-installer/bootdev string {{preseed.disk.device|default('/dev/sda')}}
#d-i debian-installer/add-kernel-opts string biosdevname=0 net.ifnames=0

### Finishing up the installation
d-i finish-install/reboot_in_progress note
d-i cdrom-detect/eject boolean false
d-i preseed/late_command string \
    echo '{{preseed.user}} ALL=(ALL:ALL) NOPASSWD: ALL' > '/target/etc/sudoers.d/{{preseed.user}}';
