#!/usr/bin/env bash
# Install Docker CE and docker-compose

# docker engine ce
curl -fsSL https://download.docker.com/linux/debian/gpg | apt-key add -
add-apt-repository \
   "deb [arch=amd64] https://download.docker.com/linux/debian \
   $(lsb_release -cs) \
   stable"

apt update
apt install -y docker-ce python-docker python-pip python3-docker python3-pip

# docker-compose
COMPOSE_URL=$(curl -Lo- 'https://github.com/docker/compose/releases/latest' | grep -o 'href="[^"]\+Linux-x86_64"' | cut -d\" -f2 | tr -d \")
COMPOSE_URL="https://github.com${COMPOSE_URL}"

curl -L "$COMPOSE_URL" -o /usr/local/bin/docker-compose
chmod +x /usr/local/bin/docker-compose

# add user to appropriate group
usermod -a -G docker "{{preseed.user}}"

