#!/usr/bin/env bash
# Create user {{preseed.user}} and install vagrant insecure ssh key

mkdir -p '/home/{{preseed.user}}/.ssh'
chmod 0700 '/home/{{preseed.user}}/.ssh'
wget -O '/home/{{preseed.user}}/.ssh/authorized_keys' 'https://raw.githubusercontent.com/hashicorp/vagrant/master/keys/vagrant.pub'
chown -R '{{preseed.user}}:' '/home/{{preseed.user}}'
